body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: rgb(43, 23, 17);
}
.brand {
    margin-right: 10px;
} 
.block-logo {
    display: flex;
    justify-content: baseline;

}
.logo-text {
    padding-top: 10px; 
}
.logo-text, .logo-text1 {
    margin: 0;
    display: flex;
    color: rgb(43, 23, 17);
}
.logo-text1 {
    font-weight: 600;
}
.navbar-menu, .phone
 {
    color: rgb(43, 23, 17); 
}
.nav-phone {
    margin-left: 45px;
}

.hero {
    /*padding-top: 58.5%;*/
    background: #a78e74 url(../images/img.png);
    background-size: cover ;
    min-height: 560px;
    width: 100%;
}
.socials {
    display: flex;
    list-style-type: none;
}
.socials li {
    margin-right: 10px;
}
.title {
    font-size:30px;
    margin-left: 10px;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(85, 81, 83, 0.5);
}
.socials {
    padding: 20px 10px;
}
 @media (max-width:768px){
     .hero{
         min-height: 320px;
     } 
     .title {
        color: #ECDECE; 
        font-size: 26px; 
     }
}
.specials {
    padding: 10px 0;
    display: flex;
    background-color:#a1896b; 
    color: #37231d;
    
}
.special {
    display: flex;
    padding: 10px;
    align-items: center;
  
    
}
.caption {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
}

.directions {
    padding:20px 10px 30px 0;

}
.directions-caption {
    font-size: 14px;
    text-align: center;
    margin: 0px;
}
.directions-subtitle {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 600;
}
.direction-block {
   
    padding: 10px;
    
}
.price-services {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.direction-text-subtitle {
    font-weight: 600;
    font-size: 16px;
   
}
.direction-text {
    font-size: 14px;
}
.wrap1, .wrap2 {
    width: 240px;
   
    
}
.wrap1 {
    box-shadow: -20px -20px 10px rgba(219, 178, 143, 0.2); 

}

.wrap2 {
    box-shadow: 20px -20px 10px rgba(219, 178, 143, 0.2); 
}

.exmp {
    overflow: hidden;
    justify-content: center;
   
  }
  .exmp img {
    display: block;
    object-fit: cover;
    max-width: 100%;

  }


.services {
    padding: 20px 10px;
    background-color: rgba(219, 178, 143, 0.2);
}
.services-subtitle {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    
}
.service {
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.5);
}
.service-subtitle {
    text-align: center;
    font-size: 16px;
}
.time {
    font-size: 14px;
    padding-left: 10px;
    margin: 0;
}
.price {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}