body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #37231D;
}
.block-logo {
    display: flex;
    justify-content: baseline;
    color: #37231D
}
.logo-text {
    padding-top: 10px;
}
.logo-text, .logo-text1 {
    margin: 0;
    display: flex;
}
.navbar-menu {
    color: #37231D; 
}
.fixedratio {
    padding-top: 58.5%;
    background: url(../images/img3.png);
    background-size: cover;
}